//定义主题色
//主要颜色
$primary-color:rgba(0,189,170,1);
$primary-color-hover:rgb(4, 153, 138);

//警告色
$warning-color:rgba(248,180,0,1);
$warning-color-hover:rgba(209, 154, 2,1);

//危险色
$danger-color:rgba(247, 31, 85,1);
$danger-color-hover:rgb(184, 9, 53);

//次要色
$second-color:rgba(64,0,130,1);
$second-color-hover:rgb(48, 0, 95);

//禁用色
$disabled-color:rgba(0,0,0,.14);

//提示色
$info-color:rgba(7,121,228,1);
$info-color-hover:rgb(3, 97, 185);

//成功色
$success-color:rgba(107,198,0,1);
$success-color-hover:rgb(71, 131, 3);

//默认色
$default-color:rgba(224,224,224,1);
$default-color-hover:rgb(201, 196, 196);

$default-font-color: rgba(0,0,0,.85);
$default-font-second-color: rgba(0,0,0,.55);

